*{
    margin:0;
    padding: 0;
}
body {
    overflow: hidden;
}
#sky{
    margin-top:-7vw;
    height: 70vh;
    width: 100%;
    margin-left:0vw;
    background-image: url("sky1.jpg");
    position: absolute;
    background-size: cover;
    background-repeat:  repeat;
    
}
#track{
    margin-top:60vh;
    height: 38vh;
    width: 1000vw;
    margin-left: -100vw;
    background-image: url("sky2.jpg");
    position: absolute;
    background-size: cover;
    background-repeat: repeat-x;
    animation: carMove linear 1s infinite;
    /* scrollbar-3dlight-color: beige; */
}
.car{
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    /* background-size: cover; */
    position:absolute;
}
img{
    height: 9.5vw;
    width: 33vw;
    margin-top: 63vh;
    margin-left: 20vw;
    /* animation:shake vertical 0.1s infinite; */
    /* position: absolute; */
}
#tyre1{
    height: 5.5vw;
    width: 5.5vw;
    margin-top: -5.3vw;
    margin-left: 23vw;
    position: absolute;
    animation: tyreRotate linear .1s infinite;
}
#tyre2{
    height: 5.5vw;
    width: 5.5vw;
    margin-top: -5.3vw;
    margin-left: 41vw;
    position: absolute;
    animation: tyreRotate linear .1s infinite;
}
    
@keyframes tyreRotate
{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%{
        transform: translateX(-500vw);
    }
}
@keyframes shake{
    0%{
        margin-top: 63vh;
    }
    50%{
        margin-top: 62vh;
    }
    100%{
        margin-top:63vh;
    }
}

@media (max-width: 500px) and (min-width: 300px) {
    #tyre1{
        height: 5.5vw;
        width: 5.5vw;
        margin-top: -6vw;
        margin-left: 23vw;
        position: absolute;
        animation: tyreRotate linear .1s infinite;
    }
    #tyre2{
        height: 5.5vw;
        width: 5.5vw;
        margin-top: -6vw;
        margin-left: 41vw;
        position: absolute;
        animation: tyreRotate linear .1s infinite;
    }
}
@media (max-width: 300px){
    #tyre1{
        height: 5.5vw;
        width: 5.5vw;
        margin-top: -6.8vw;
        margin-left: 23vw;
        position: absolute;
        animation: tyreRotate linear .1s infinite;
    }
    #tyre2{
        height: 5.5vw;
        width: 5.5vw;
        margin-top: -6.8vw;
        margin-left: 41vw;
        position: absolute;
        animation: tyreRotate linear .1s infinite;
    }
}